body{
  background-image: url('../imgges/true.jpg');
}
div{
  width: 90%;
  border-style: solid;
  margin-top: 20px;
  margin-left: 20px;
}
.intro{
  margin-top: 200px;
  color: #dcee9d;
}
.go-top {
  margin-left: 350px;
  position: fixed;
  top: 500px;
}
.go-top a{
  color: #fff;
}
.history img{
  width: 100%;
  height: 300px;
}
.history b{
  font-size: 20px;
}
.history p{
  color: #d4df4f;
}
.vacation img{
  width: 100%;
  height: 300px;

}
.custom b{
  font-size: 20px;
}
.custom img{
  width: 100%;
  height: 300px;

}
.menu{
  margin-left: 350px;
  position: fixed;
  top: 200px;

}
.menu a{
  color:#343b36;
}
.menu section{
  margin-top: 20px;
}
