html,body{
  height: 100%;
  overflow: hidden;
}
.container{
  background-position: center;
  height: 100%;
  background-image: url('../images/background.png');
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-grounp{
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 300px;
}
.item-grounp div{
  width: 100px;
  height: 100px;
  background-color: #89d193;
  margin-left: 20px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  opacity: 0.8;
}
.item-grounp div img{
   width: 50px;
   height: 50px;

}
.item-grounp div span{
  color: #fff;
  font-size: 15px;
}
.footer{
  display: flex;
  position: absolute;
  margin-top: 610px;
  left: 0px;
  width: 100%;
}
.footer div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  margin-left: 10px;
}
.footer div img{
  width: 30px;
  height: 25px;
}
.footer div a{
  color: #82c3a1;
  text-decoration: none;
}
